.map-container {
    position: relative;
    height: 100vh;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.map-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button-container {
    position: absolute;
    top: 105px;
    left: 10px;
    z-index: 5;
}

.button-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
}

.button-container button:hover {
    background-color: #0056b3;
}

.search-container {
    position: absolute;
    top: 55px;
    left: 10px;
    right: 0;
    z-index: 5;
}

.search-bar {
    margin: auto;
    padding: 0 23px;
    width: 300px;
    max-width: 85%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search-bar:focus {
    border-color: #007bff;
    box-shadow: 0 4px 12px rgba(0, 120, 255, 0.2);
    transform: scale(1.02);
}

.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    width: 40%;
    height: 200px;
}

.popup-container.visible {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    position: relative;
}

.question-container,
.response-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.button-container button {
    flex: 1;
    margin: 0 2px;
}

.button-container button:first-child {
    margin-right: 2%;
}

.close-popup {
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-container form .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.popup-container form .button-container button {
    flex: 1;
    margin: 0 2px;
}

.popup-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.popup-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup-container button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.popup-container button:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .search-bar {
        width: 90%;
    }
}